.toolButton {
    background: none;
    padding: 25px;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.3s ease; 
    &:hover {
        background-color: var(--main-app-color);
    }
}

.selected {
    border: 1px solid black;
}

.disabled {
   cursor: progress;
}