.toolButton {
    background: none;
    padding: 25px;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.toolButton:hover {
    color: salmon;
}

.selected {
    border: 1px solid black;
}

.disabled {
   cursor: progress;
}